h2 button {
    margin-left: 2em;
}
.error-dialog .modal-header {
    background-color: #F2DEDE;
    color: #A94442;
    border-radius: 6px 6px 0 0;
}
.server-chooser-btn {
    position: absolute;
    top: 6px;
    right: 6px;
}
.server-settings-row {
    margin-bottom: 1em;
}
.count-text {
    padding: 6px 12px;
    margin: 20px 0;
}
.overlay {
    position: fixed;
    width: 2em;
    height: 2em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin: auto;
}
.overlay:before {
    content: '';
    background: rgba(50, 50, 50, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
