{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>API Permissions</h1>

<div id="api-permissions">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th width="20%">Resource</th>
        <th width="60%">URL</th>
        <th>Read</th>
        <th>Create</th>
        <th>Update</th>
        <th>Delete</th>
     </tr>
    </thead>
    <tbody>
      {% for resource, perms in api_perms.items %}
        <tr>
          <td>{{ resource }}</td>
          <td><a href="{{ perms.url }}">{{ perms.url }}</a></td>
          <td>{% for user in perms.read %}{{ user }}<br />{% endfor %} </td>
          <td>{% for user in perms.create %}{{ user }}<br />{% endfor %}</td>
          <td>{% for user in perms.update %}{{ user }}<br />{% endfor %}</td>
          <td>{% for user in perms.delete %}{{ user }}<br />{% endfor %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}