{% extends "base.html" %}
{% load i18n %}
{% load pdctags %}

{% block content %}
{% include "help_button.html" %}

<h2 class="page-header">{% trans "Product Versions" %}</h2>

<form method="GET" style="float: left;">
  {% csrf_token %}
  {{ form.search }}
  <input type="submit" value="{% trans "Search" %}" />
</form>

{% include "pagination.html" %}
{% include "product_version_list_include.html" %}
{% include "pagination.html" %}

{% helpmodal %}
    <p>In PDC, a <em>product version</em> is just a group of
    <a href="{% url "release/index" %}">releases</a>
    with the same name and major version.</p>

    <p>Product versions are only used for grouping and organizing releases.
    They do not have any metadata on their own.</p>
{% endhelpmodal %}

{% endblock %}
