{% extends "base.html" %}
{% load i18n %}
{% load pdctags %}

{% block content %}
{% include "help_button.html" %}

<h2 class="page-header">{% trans "Products" %}</h2>

<form method="GET" style="float: left;">
  {% csrf_token %}
  {{ form.search }}
  <input type="submit" value="{% trans "Search" %}" />
</form>

{% include "pagination.html" %}
{% include "product_list_include.html" %}
{% include "pagination.html" %}

{% helpmodal %}
    <p>In PDC, a <em>product</em> is just a group of
    <a href="{% url "product_version/index" %}">product versions</a> with the
    same name.</p>

    <p>Products are only used for grouping and organizing releases. They do not
    have any metadata on their own.</p>
{% endhelpmodal %}

{% endblock %}
