{% load i18n %}
<table class="table table-striped table-bordered">
 <thead>
  <tr>
    <th>{% trans "Release ID" %}</th>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Short Name" %}</th>
    <th>{% trans "Version" %}</th>
    <th>{% trans "Base Product" %}</th>
    <th>{% trans "Product Version" %}</th>
    <th>{% trans "Release Type" %}</th>
    <th>
        <select id="active_filter" value= {{ page_size }}>
            <option value="All" selected>All releases</option>
            <option value="Active">Active releases</option>
            <option value="Inactive">Inactive releases</option>
        </select>
    </th>
  </tr>
 </thead>
 <tbody>
{% for release in release_list %}
  <tr>
    <td><a href="{% url "release/detail/slug" release.release_id %}">{{ release.release_id }}</a></td>
    <td>{{ release.name }}</td>
    <td>{{ release.short }}</td>
    <td>{{ release.version }}</td>
    <td>{% if release.base_product %}<a href="{% url "base_product/detail/slug" release.base_product.base_product_id %}">{{ release.base_product }}</a>{% endif %}</td>
    <td>
        {% if release.product_version %}
            <a href="{% url "product_version/detail/slug" release.product_version.product_version_id %}">
                {{ release.product_version }}
            </a>
        {% endif %}
    </td>
    <td>{{ release.release_type }}</td>
    <td>
        {% if release.active %}
            Active
        {% else %}
            Inactive
        {% endif %}
    </td>
  </tr>
{% endfor %}
 </tbody>
</table>
