{% extends "base.html" %}
{% load i18n %}
{% load pdctags %}

{% block content %}
{% include "help_button.html" %}

<h2 class="page-header">{% trans "Releases" %}</h2>

<form method="GET" style="float: left;">
  {% csrf_token %}
  {{ form.search }}
  <input type="submit" value="{% trans "Search" %}" />
</form>

{% include "pagination.html" %}
{% include "release_list_include.html" %}
{% include "pagination.html" %}

{% helpmodal %}
    <p>A <em>release</em> is a collection of software with a unique identity
    and specific life cycle.</p>

    <p>Ideally, releases should be immutable. Once they are finished, the
    content and definition is not supposed to change.</p>

    <p>A release is divided into <em>variants</em>. These contain subset of
    release content targetted at a specific user, for example <em>server</em>
    or <em>workstation</em>. Each variant can be built for multiple
    architectures.</p>
{% endhelpmodal %}

{% endblock %}
