{% extends "base.html" %}
{% load rest_framework %}

{% block content %}
    {% block breadcrumbs %}
        <ol class="breadcrumb">
            {% for breadcrumb_name, breadcrumb_url in breadcrumblist %}
                <li>
                    <a href="{{ breadcrumb_url }}" {% if forloop.last %}class="active"{% endif %}>
                        {{ breadcrumb_name }}
                    </a>
                </li>
            {% endfor %}
        </ol>
    {% endblock %}

    <!-- Content -->

    <div id="content">
        <div class="content-main">
            <div class="page-header">
                <h1>{{ name }}</h1>
            </div>
            {% block description %}
            {{ overview }}
            {% if description %}
            <h3>Documents & examples</h3>
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    {% for method in description.keys %}
                    <li {% if forloop.first %}class="active"{% endif %}>
                        <a href="#tab_{{ method }}" data-toggle="tab">{{ method.upper }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for method, docstring in description.items %}
                    <div class="tab-pane {% if forloop.first %}active{% endif %}"
                         id="tab_{{ method }}">
                        <p>{{docstring|safe}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endblock %}

            {% if response.status_code != 405 %}
                {% if paginator %}
                    <nav style="float: right">
                    {% get_pagination_html paginator %}
                    </nav>
                {% endif %}

                <h3 id="browsable">Browsable GET</h3>
                <div class="request-info" style="clear: both" >
                    <pre class="prettyprint"><b>{{ request.method }}</b> {{ request.get_full_path }}</pre>
                </div>
                <div class="response-info">
                <pre class="prettyprint"><span class="meta nocode"><b>HTTP {{ response.status_code }} {{ response.status_text }}</b>{% autoescape off %}
{% for key, val in response_headers.items %}<b>{{ key }}:</b> <span class="lit">{{ val|break_long_headers|urlize_quoted_links }}</span>
{% endfor %}
</span>{{ content|urlize_quoted_links }}</pre>{% endautoescape %}
                </div>
                {% if paginator %}
                    <nav style="float: right">
                    {% get_pagination_html paginator %}
                    </nav>
                {% endif %}
            {% endif %}
        </div>

    </div>
    <!-- END Content -->

    <script type="text/javascript">
        $(document).ready(function() {
            if (location.hash !== '') {
                $('a[href="' + location.hash + '"]').tab('show');
            }
            $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
              var hash = '#' + $(e.target).attr('href').substr(1);
              if (history.pushState) {
                  history.replaceState(null, '', hash);
              } else {
                  location.hash = hash;
              }
            });
        });
    </script>
{% endblock %}
