html {
    position: relative;
    min-height: 100%;
}
body {
    padding-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
}
/* menu text color */
.navbar-default .navbar-nav > li > a {
    color: #ffffff !important;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #cccccc !important;
}
ul.pagination.pull-right {
    margin-top: 0px !important;
}
.navbar-brand {
    font-weight: bold !important;
}
.navbar-brand img {
    height: 20px !important;
    float: left !important;
    margin-right: 0.5em !important;
}
.navbar-utility li a {
    border-left: 0px !important;
    /* fix 1px red line under user menu */
    height: 26px !important;
}
.navbar-pf .navbar-brand {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}
/* shrink collapsed menu a bit in order not to resize header bar */
.navbar-header .navbar-toggle {
    padding-top: 7px !important;
    padding-bottom: 5px !important;
}
/* fix padding for navbar-utility collapsed menu */
.navbar-utility li.dropdown a.dropdown-toggle {
    padding-left: 20px !important;
}
/* fix icon placement for navbar-utility collapsed menu */
.navbar-utility span.fa, .navbar-utility span.pficon {
    width: 12px !important;
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
}
/* Fix empty definition items floating to label above */
.dl-horizontal > dd:after {
    display: table;
    content: "";
    clear: both;
}
.table .list-inline {
    margin-bottom: 0;
}
.help-button {
    margin-top: 1em;
}
/* Increase width of popovers and add some shadow */
.popover {
    max-width: 30%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.popover-content {
    font-size: 12px;
}
tbody tr.deleted td {
    position:relative;
    color: #999;  /* fade out the crossed text */
}
tbody tr.deleted a {
    color: #8dc0d3;  /* fade out links */
}
tbody tr.deleted td:before {  /* this adds the line to cross out the row */
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #999;
    width: 100%;
}
.No {
    color: rgb(255, 255, 255);
    background-color: rgb(204, 0, 0);
}
.Yes {
    color: rgb(255, 255, 255);
    background-color: rgb(63, 156, 53);
}

/* JSON data from serializers */
.serializer-field-name {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 1px;
}
.serializer-field-details {
    background-color: rgba(255, 196, 0, 0.2);
    border-radius: 1px;
}
.serializer-field-tags {
    font-style: italic;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.serializer-field-help {
    font-family: "sans";
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/* Highligh field referenced in URL (i.e. ".../#field-name") */
.serializer-field:target .serializer-field-name {
    font-weight: bold;
    background-color: rgba(255, 255, 0, 0.2);
}