{% extends "base_generic.html" %}

{% load pdctags %}
{% load i18n %}

{% block links %}
<ul class="dropdown-menu">
  <li>
    <a href="/docs/">{% trans "PDC Docs" %}</a>
  </li>
</ul>
{% endblock %}

{% block footer %}
  <div class="container">
    <p>
        <a href="https://github.com/release-engineering/product-definition-center/issues">Report an Issue</a>
        <span> | </span>
        <a href="https://github.com/release-engineering/product-definition-center">View on GitHub</a> (Version: {% pdc_version %})
    </p>
  </div><!-- /.container -->
{% endblock %}
