{% extends "base.html" %}
{% include "pagination.html" %}
{% load i18n %}

{% block content %}
<h2 class="page-header">{% trans "SigKeys" %}</h2>

{% include "pagination.html" %}
<table class="table table-striped">
 <thead>
  <tr>
    <th>{% trans "Key ID" %}</th>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Description" %}</th>
  </tr>
 </thead>
 <tbody>
{% for sigkey in sigkey_list %}
  <tr>
    <td>{{ sigkey.key_id }}</td>
    <td>{% if sigkey.name %}{{ sigkey.name }}{% endif %}</td>
    <td>{{ sigkey.description }}</td>
  </tr>
{% endfor %}
 </tbody>
</table>
{% include "pagination.html" %}

{% endblock %}
